Anja Karg | ESA 4 | DataScience

### 1. Write a NumPy program to get the indices of the sorted elements of a given array.

### score = np.array([103, 1502, 6230, 3, 1682, 5241, 4532])

In [172]:
# pip: to install, upgrade, uninstall python packages
# get latest pip: there is an information on terminal what to do
# install numpy in Visual Studio code: pip install numpy
import numpy as np # Python lib that provides multidimensional array object & tools. 
# for linear algebra, fourier transform, matrices. free.
myArray = np.array([10,52,62,16,16,54,453])
print(myArray)

[ 10  52  62  16  16  54 453]

In [173]:
indices = np.argsort(myArray)
print(indices)

[0 3 4 1 5 2 6]

### 2a. Load the countries.csv directly via URL import into your panda data frame!

In [174]:
import pandas as pd

url = 'https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/python-DS/country.csv'

df = pd.read_csv(url)
print(df)

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

### 2b. Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT: describe

In [175]:
print(df.describe())

         Population          Area          GDP
count  7.000000e+00  7.000000e+00     6.000000
mean   8.086839e+07  2.926464e+06  2387.500000
std    6.670195e+07  4.348507e+06  1532.497537
min    2.393827e+07  3.619700e+04   744.000000
25%    3.235604e+07  3.293615e+05  1596.250000
50%    6.050172e+07  3.778350e+05  1824.000000
75%    1.042833e+08  4.713910e+06  3062.000000
max    2.083600e+08  9.984670e+06  4938.000000

In [176]:
# further test
print(df['GDP'].describe())

count       6.000000
mean     2387.500000
std      1532.497537
min       744.000000
25%      1596.250000
50%      1824.000000
75%      3062.000000
max      4938.000000
Name: GDP, dtype: float64

### 2c. Show the last 4 rows of the DataFrame

In [177]:
print(df.tail(4))

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

### 2d. Show all the rows of countries that have the EURO

In [178]:
eurCountries = df[df['Currency'] == 'EUR']
pd.set_option('display.max_rows', None)
print(eurCountries)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

### 2e. Show only name and Currency in a new data frame

In [179]:
dfNameCoutry = (df[['Name', 'Currency']])
print(dfNameCoutry)

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

### 2f. Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)

In [180]:
# assuming that the GDP in the countries.csv is in US dollars
print(df[df['GDP'] > 2000])

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

### 2g. Select all countries where with inhabitants between 50 and 150 Mio

In [181]:
print(df[(df['Population'] >= 50000000) & (df['Population'] <= 150000000)])

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

### 2h. Calculate the GDP average (ignore the missing value)

In [182]:
print(df['GDP'].mean(skipna=True))

2387.5

### 2i. Calculate the GDP average (missing value treated as 0)

In [183]:
print(df['GDP'].fillna(0).mean())

2046.4285714285713

### 2j. Calculate the population density (population/area)  of all countries and add as new column

In [184]:
df['Population Density'] = df['Population'] / df['Area']
print(df)

        Name  Population     Area     GDP Currency  Population Density
0    Germany    82521653   357385  3466.0      EUR          230.904075
1      Japan   126045000   377835  4938.0      YEN          333.597999
2     Canada    36503097  9984670  1529.0      CAD            3.655914
3      Italy    60501718   301338  1850.0      EUR          200.776928
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

### 2k. Sort by country name alphabetically

In [185]:
print(df.sort_values(by=['Name']))

        Name  Population     Area     GDP Currency  Population Density
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
2     Canada    36503097  9984670  1529.0      CAD            3.655914
0    Germany    82521653   357385  3466.0      EUR          230.904075
3      Italy    60501718   301338  1850.0      EUR          200.776928
1      Japan   126045000   377835  4938.0      YEN          333.597999
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

### 2l. Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [186]:
df['Area'] = df['Area'].apply(lambda x: 'BIG' if x > 1000000 else 'SMALL')
dfCountriesBigSmall = df.copy()
print(dfCountriesBigSmall)

        Name  Population   Area     GDP Currency  Population Density
0    Germany    82521653  SMALL  3466.0      EUR          230.904075
1      Japan   126045000  SMALL  4938.0      YEN          333.597999
2     Canada    36503097    BIG  1529.0      CAD            3.655914
3      Italy    60501718  SMALL  1850.0      EUR          200.776928
4   Brazilia   208360000    BIG  1798.0     REAL           24.467547
5     Taiwan    23938272  SMALL   744.0      NTD          661.333039
6  Venezuela    28208977  SMALL     NaN      VED           30.929200